<Server port="{{ confluence_rmi_port }}" shutdown="SHUTDOWN" debug="0">
    <Service name="Tomcat-Standalone">
        <Connector port="{{ confluence_web_port }}" connectionTimeout="20000" redirectPort="{{ confluence_web_port_https }}"
                   maxThreads="48" minSpareThreads="10"
                   enableLookups="false" acceptCount="10" debug="0" URIEncoding="UTF-8"
                   scheme="https" secure="true"
                   proxyName="{{ confluence_proxy_name }}"
                   proxyPort="{{ confluence_proxy_port }}"
                   protocol="org.apache.coyote.http11.Http11NioProtocol"/>
        <Engine name="Standalone" defaultHost="localhost" debug="0">
            <Host name="localhost" debug="0" appBase="webapps" unpackWARs="true" autoDeploy="false" startStopThreads="4">
                <Context path="{{ confluence_web_context }}" docBase="../confluence" reloadable="false" useHttpOnly="true">
                   <Manager pathname="" />
                  <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60" />
                </Context>
                <Context path="${confluence.context.path}/synchrony-proxy" docBase="../synchrony-proxy" debug="0"
                         reloadable="false" useHttpOnly="true">
                    <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60"/>
                </Context>
            </Host>
        </Engine>
    </Service>
</Server>