<?xml version='1.0' encoding='utf-8'?>
<!-- {{ ansible_managed }} -->
<!-- redirectPort="{{ confluence_proxy_port }}" -->
<Server port="8000" shutdown="SHUTDOWN" debug="0">
    <Service name="Tomcat-Standalone">
        <Connector port="{{ confluence_web_port }}"
                   connectionTimeout="20000"
                   redirectPort="{{ confluence_web_port_https }}"
                   maxThreads="48" minSpareThreads="10"
                   enableLookups="false"
                   acceptCount="10"
                   URIEncoding="UTF-8"
                   protocol="org.apache.coyote.http11.Http11AprProtocol"
                   useBodyEncodingForURI="true"
                   compression="on"
                   compressableMimeType="text/html,text/xml,text/plain,text/css,application/json,application/javascript,application/x-javascript"
                   />
        <Connector port="{{ confluence_web_port_https }}" maxHttpHeaderSize="{{ confluence_max_http_header_size }}"
                   maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
                   protocol="org.apache.coyote.http11.Http11AprProtocol"
                   enableLookups="false" disableUploadTimeout="true"
                   acceptCount="100" scheme="https" secure="true"
                   clientAuth="false" sslProtocol="TLS"
                   sslEnabledProtocols="TLSv1.2" SSLEnabled="true"
                   useBodyEncodingForURI="true"
                   compression="on"
                   compressableMimeType="text/html,text/xml,text/plain,text/css,application/json,application/javascript,application/x-javascript"
                   URIEncoding="UTF-8"
                   keystorePass="changeit"
                   keystoreFile="{{ confluence_keystore }}/keystore"
                   keyAlias="tomcat"
                   proxyName="{{ confluence_proxy_name }}"
                   proxyPort="{{ confluence_proxy_port }}"
        />
        <Engine name="Standalone" defaultHost="localhost">
            <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="false">
                <Context path="{{ confluence_web_context }}" docBase="../confluence" reloadable="false" useHttpOnly="true">
                   <Manager pathname="" />
                  <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60" />
                </Context>
            </Host>
        </Engine>
    </Service>
</Server>
