# {{ ansible_managed }}

[Unit]
Description=Atlassian JIRA
After=network.target

[Service]
Type=forking
User={{ jira_owner }}
{% if jira_service_environment is defined %}
{%    for cse in jira_service_environment %}
Environment={{cse}}
{%    endfor %}
{% endif %}
ExecStart={{ jira_home_link_app }}/bin/start-jira.sh
ExecStop={{ jira_home_link_app }}/bin/stop-jira.sh

[Install]
WantedBy=multi-user.target
